*{margin: 0;padding: 0}
body{
    margin: 0 auto;
    width: 1280px
}


header{
    width: 100%;
    height: 60px;
    background: white
}
header img{
    margin-left: 5%
}
.ul1{
    float: right
}
.ul1 li{
    display: inline-block;
    font-family: '微软雅黑';
    color: #ccc;
    line-height: 60px;
    font-size: 18px;
    margin: 0 20px;
}
.ul1 a{
    text-decoration: none;
    display: block;
    font-family: '微软雅黑';
    color: #808080;
    line-height: 60px;
    font-size: 16px;
    margin: 0 20px;
}
.ul1 .on,a:hover{
    color:#e74f4d;
    border-bottom: 5px solid #e74f4d
}


.main1{
    margin-top: 5px;
    display: table-cell;
    vertical-align: middle;
    width: 1280px;
    height: 690px;
    background-image: url(../images/7-main1.jpg)
}
.body1{
    width: 470px;
    height: 270px;
    margin-left: 50px;
}
.body1 p1{
    font-size: 60px;
    font-family: '微软雅黑';
    color: white
}
.body1 p2{
    font-size: 21px;
    font-family: '微软雅黑';
    color: white
}
.body1 a{
    margin-top: 30px;
    text-decoration: none;
    text-align: center;
    display: block;
    line-height: 65px;
    width: 331px;
    height: 65px;
    font-size: 30px;
    font-family: '微软雅黑';
    color: white;
    background: #e74f4d;
    border: none
}

.main2{
    height: 250px
}
.main2 p{
    font-size: 14px;
    font-family: '微软雅黑';
    color: #767777;
    text-align: center
}
.A2,.B2,.C2,.D2{
    float: left;
    width: 320px;
}
.A2 img,.B2 img,.C2 img,.D2 img{
    margin: 55px 0px 50px 136px
}


.main3{
    width: 1280px;
    height: 360px;
    display: table-cell;
    vertical-align: middle;
    background: #e5e5e3
}
.main3 p{
    text-align: center;
    font-size: 54px;
    font-family: '微软雅黑';
    color: #a1a1a1
}
.img3{
    width: 120px;
    height: 120px;
    margin: 0px auto 20px;
    background-size: contain;   /*用于等比缩小背景图(背景图需大于块，否则背景图仍会被放大以适应块)*/
    background-image: url(../images/7-main3.png)
}

.main4{
    width: 1280px;
    height: 315px;
    background-image: url(../images/7-main4.jpg)
}
.main4p1{
    padding: 30px;
    text-align: center;
    font-size: 21px;
    font-family: '微软雅黑';
    color: white
}
.main4hr{
    margin: -10px auto;
    width: 30px;
    border: 1px solid white
}
.main4p2{
    padding: 30px;
    text-align: center;
    font-size: 15px;
    font-family: '微软雅黑';
    color: white
}
.select4{
    width: 1020px;
    margin: 30px auto
}
select{
    background: transparent;   
    width: 235px;
    padding-left: 10px;  
    font-size: 16px;   
    font-family: '微软雅黑';
    color: #ccc;
    border: 1px solid #ccc;   
    height: 35px;   
    -webkit-appearance: none; 
}
.selectA,.selectB,.selectC{
    margin-right: 20px;
    display: inline-block;
    width: 235px;
    height: 35px;
    overflow: hidden;
    background: url(../images/7-main4-select.png) no-repeat right white;
}
.selectD{
    position: absolute;
    margin-left: 5px;
    display: inline-block
}
.selectD input{
    border: none;
    color: white;
    font-size: 16px;
    font-family: '微软雅黑';
    width: 235px;
    height: 35px;
    background: #e74f4d
}


.main5{
    height: 604px
}
.A5,.B5,.C5,.D5{
    margin-top: 142px;
    text-align: center;
    float: left;
    width: 320px
}
.A5 img,.B5 img,.C5 img,.D5 img{
    border: 1px solid #ccc
}
.main5 p1{
    display: block;
    font-size: 16px;
    font-family: '微软雅黑';
}
.main5 p2{
    display: block;
    font-size: 14px;
    font-family: '微软雅黑';
    color: #808080
}

.main6{
    height: 567px
}
.left6{
    width: 851px;
    height: 567px;
    background-image: url(../images/7-main6-left.jpg)
}
.left6 p1{
    display: block;
    text-align: center;
    font-size: 50px;
    font-family: '微软雅黑';
    color: white
}
.left6 p2{
    display: block;
    text-align: center;
    font-size: 157px;
    font-family: '微软雅黑';
    color: white
}
.left6 p3,p4{
    display: block;
    text-align: center;
    font-size: 22px;
    font-family: '微软雅黑';
    color: white
}
